Gemfile.lock
Ayame.dll
dist
customize/images/*
customize/music/*
customize/idol/*
customize/sound/*
!customize/images/.keep
!customize/music/.keep
!customize/idol/.keep
!customize/sound/.keep
data/music/*/bgm.mp3
data/music/*/preview.mp3
data/music/*/artwork.png
